<div class="container">
  <section id="seccion1" class="pagina2-section">
    <h2>Educación sobre el racismo</h2>
    <p>
      La educación sobre el racismo es un proceso de aprendizaje diseñado para aumentar la conciencia y comprensión sobre las raíces, manifestaciones y consecuencias del racismo. Busca enseñar a las personas sobre la historia y los efectos del racismo, promover la empatía y el respeto hacia todas las razas, y fomentar habilidades para identificar y desafiar actitudes y comportamientos discriminatorios. Su objetivo es empoderar a las personas para actuar contra el racismo y apoyar la igualdad y la justicia en la sociedad.</p>
    <img src="assets/educacion-racismo.jpg" alt="Educación contra el racismo" class="img-fluid rounded">
  </section>

  <section id="seccion2" class="pagina2-section">
    <h2>Iniciativas para la igualdad racial</h2>
    <p>Las iniciativas para la igualdad racial son esfuerzos dirigidos a reducir y eliminar las disparidades raciales y promover la equidad en diversos ámbitos de la sociedad. Incluyen la creación y aplicación de políticas y leyes que combatan la discriminación, la implementación de programas educativos para sensibilizar sobre la diversidad y el racismo, y la promoción de campañas sociales y movimientos que defiendan los derechos de todas las razas. También abarcan acciones en el ámbito corporativo para fomentar la inclusión y la diversidad en el lugar de trabajo, así como el apoyo a organizaciones comunitarias que trabajan directamente con comunidades marginadas. Estas iniciativas buscan crear una sociedad más justa y equitativa para todos.</p>
    <img src="assets/iniciativas-igualdad-racial.jpg" alt="Iniciativas para la igualdad racial" class="img-fluid rounded">
  </section>

  <section id="seccion3" class="pagina2-section">
    <h2>Protestas y movimientos sociales</h2>
    <p>
      Las protestas y movimientos sociales son formas de acción colectiva que buscan desafiar y cambiar las estructuras injustas y las políticas discriminatorias en la sociedad. Estos movimientos, como Black Lives Matter, se organizan para visibilizar y combatir la desigualdad racial, abogar por reformas en el sistema y promover la justicia social. A través de manifestaciones, campañas de concienciación y presión pública, estos movimientos buscan generar un cambio positivo en las políticas, las actitudes y las prácticas que perpetúan la discriminación y la injusticia.</p>
    <img src="assets/protestas-movimientos-sociales.jpg" alt="Protestas contra el racismo" class="img-fluid rounded">
  </section>

  <section id="seccion4" class="pagina2-section">
    <h2>Cómo actuar contra el racismo</h2>
    <p>Actuar contra el racismo significa educarse sobre el problema, denunciar la discriminación, apoyar iniciativas y organizaciones que promuevan la igualdad, y brindar apoyo a quienes sufren racismo.</p>
    <img src="assets/como-actuar-racismo.jpg" alt="Cómo actuar contra el racismo" class="img-fluid rounded">
  </section>

  <section id="video" class="pagina2-section">
    <h2>Video sobre el activismo antirracista</h2>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=qwS8R42zFjE" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>
</div>
